body {
    background-color: #4e9ab8;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

body h1 {
    text-align: center;
    font-size: 90px;
}
#digital-clock  {
  font-family: 'Anton', sans-serif;;
  color: rgb(255, 255, 255);
  font-size: 90px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#digital-date{
  font-family:  'Anton', sans-serif;;
  color: #000;
  font-size: 70px;
  text-align: center;
  
}